.draggable-carousel {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.draggable-carousel__images-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  transform-origin: center left;
}

.draggable-carousel__image-wrapper {
  pointer-events: none;
  user-select: none;
}

.draggable-carousel__images__image {
  flex-shrink: 0;
  pointer-events: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center left;
}

.draggable-carousel__images__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
